*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #3A3A5A;
    /* background:linear-gradient(rgb(0, 255, 247),rgb(21, 21, 66)); */
    margin-top: 150px;
    background-image: url(image\ copy\ 6.png) ;
    background-size: cover;
    background-position: center;
}
.container{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
    background-color: white ;
    width: 300px;
    background-color: #2D2D44;
    border: 4px solid transparent;
    border-radius: 25px;
    background:
        linear-gradient( #2D2D44) padding-box,
        linear-gradient(135deg, #ce07c1, #00E5FF ,rgb(62, 24, 214)) border-box;

}

h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: 15px;
    /* color: blueviolet; */
    color: white;
}

input{
    text-align: end;
    margin-bottom: 15px;
    height: 30px;
    width: 280px;
    border-radius: 5px;
    font-size: 36px;
    margin-left: 10px;
}

.btn{
    width: 58px;
    margin: 5px;
    margin-left: 12px;
    background-color:#3A3A5A ;
    color: lightgray;
    font-size: 35px;
    border-radius: 5px;

}

.btn2{
        width: 58px;
    margin: 5px;
    margin-left: 12px;
    background-color:#3A3A5A ;
    color: lightgray;
    font-size: 35px;
        border-radius: 5px;

}