body {
    margin: 0;
    padding: 0;
    /* background-color: darkslateblue; */
    background: linear-gradient(135deg,#201b4b,#302b63,#24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

button {
    margin: 8px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}

.add {
    background-color: green;
    color: white;
}

.remove {
    background-color: orange;
    color: white;
}

.reset {
    background-color: crimson;
    color: white;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 55px;
    font-weight: bolder;
    color: white;
}